.menu {
    .link:nth-child(1)::before {
        transition: width 400ms ease-in-out;
        width: 3px;  
    }
    .link:nth-child(1):hover:before {
        transition: width 400ms ease-in-out;
        width: 48px;  
    }
    .link:nth-child(2)::before {
        transition: width 400ms ease-in-out;
        width: 3px;
    }
    .link:nth-child(2):hover::before {
        transition: width 400ms ease-in-out;
        width: 65px;
    }
    .link:nth-child(3)::before {
        transition: width 400ms ease-in-out;
        width: 45px;
    }
}

.carousel {
    margin:4em auto;
    width: 80%;
    min-height: 400px;
    height: 95vh;
    position: relative;
    overflow: hidden;
}

.slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
    .slide-content {
        width: 70%;
        margin: auto;
        border: 2px solid lightgray;
        border-radius: 10px 0;
        padding: 1em;

        h5 {
            margin-top: 2em;
        }

        p {
            margin-top: 2em;
        }
    }
}

.slide img {
    display: block;
    margin: auto;
    width: 30%;
    max-width: 150px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.carousel ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slide[data-active] {
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
}

.carousel-btn {
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: 4rem;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255,255, .5);
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 .5rem;
    background-color: rgba(0, 0, 0, .1);
}

.carousel-btn:hover,
.carousel-btn:focus {
    color: white;
    background-color: rgba(0, 0, 0, .2);
}

.carousel-btn:focus {
    outline: 1px solid black;
}

.carousel-btn.prev {
    left: 1rem;
}

.carousel-btn.next {
    right: 1rem;
}